@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1014px) {
	.container {
		@apply px-10;
	}
}
.gradient-primary {
	@apply bg-gradient-to-br from-purple-600 to-green-400;
}
.gradient-primary-hover {
	@apply bg-gradient-to-br hover:from-purple-600 hover:to-green-400;
}
@media screen and (max-width: 768px) {
	.container {
		@apply px-5;
	}
}
@keyframes showToBottom {
	from {
		transform: translateY(-100px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes wave {
	to {
		transform: rotate(45deg);
	}
}
