@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
	@apply bg-transparent z-0;
	width: 20px;
}
::-webkit-scrollbar-track {
	@apply bg-transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-gradient-to-br transition-all from-purple-600 to-green-400;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply bg-gradient-to-br transition-all from-purple-800 to-green-600;
}
@media screen and (max-width: 1014px) {
	.container {
		@apply px-10;
	}
}
.gradient-primary {
	@apply bg-gradient-to-br from-purple-600 to-green-400;
}
.gradient-primary-hover {
	@apply bg-gradient-to-br hover:from-purple-600 hover:to-green-400;
}
@media screen and (max-width: 768px) {
	.container {
		@apply px-5;
	}
}
@keyframes showToBottom {
	from {
		transform: translateY(-100px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes wave {
	to {
		transform: rotate(45deg);
	}
}
/* @keyframes blink {
	0% {
		translate: 100vw 0;
	}
	100% {
		right: 0;
	}
}

.blink-button {
	@apply relative overflow-hidden;
}
.blink-button::before {
	@apply absolute -top-32 z-10 left-0 h-64 w-2 rotate-45 bg-green-700;
	content: "";

	animation: blink 1400ms infinite;
} */
